.filter {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 60px;
  // justify-content: center;
  margin-right: 8px;
  @media screen and (min-width: 768px) {
    justify-content: center;
  }
}

.filter__item {
  margin-right: 8px;
  margin-bottom: 15px;
  @media screen and (min-width: 768px) {
    margin-bottom: 0;
  }
}

.filter:not(:last-child) {
  margin-right: 0;
}
