.hero {
  padding: 118px 45px;
  background-image: url(../images/mobile/header_1x.jpg),
    linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    background-image: url(../images/mobile/header_2x.jpg),
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
  @media screen and (min-width: 768px) {
    background-image: url(../images/tablet/header_1x.jpg),
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
  @media screen and (min-width: 768px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 768px) and (min-resolution: 192dpi),
    screen and (min-width: 768px) and (min-resolution: 2dppx) {
    background-image: url(../images/tablet/header_2x.jpg),
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
  @media screen and (min-width: 1200px) {
    background-image: url(../images/desktop/hero-min.jpg),
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
  @media screen and (min-width: 1200px) and (min-device-pixel-ratio: 2),
    screen and (min-width: 1200px) and (min-resolution: 192dpi),
    screen and (min-width: 1200px) and (min-resolution: 2dppx) {
    background-image: url(../images/desktop/hero2x-min.jpg),
      linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4));
  }
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin: 0 auto;
}

.hero__title {
  max-width: 360px;
  margin: 0 auto 30px;
  color: $primary-white-color;
  font-family: Roboto;
  font-style: 400;
  font-size: 26px;
  line-height: 1.62;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 30px;
  @media screen and (min-width: 1200px) {
    font-size: 44px;
    max-width: 660px;
  }
}
