.section {
  &__bg-color {
    background-color: #f5f4fa;
  }
  .page-title-h2 {
    @media screen and (min-width: 1200px) {
    }
  }

  // &__title {
  //   display: block;
  //   color: $title-text-color;
  //   font-weight: 700;
  //   font-size: 36px;
  //   line-height: 1.17;
  //   text-align: center;
  //   // padding-top: 94px;
  // }
}

.card {
  // display: flex;
  // justify-content: center;
  // align-items: center;
  margin-top: 30px;
  margin-bottom: -30px;
  @media screen and (min-width: 768px) {
    display: flex;
    flex-wrap: wrap;
    margin-right: -30px;
    margin-bottom: -30px;
  }

  &:not(:last-child) {
    margin-right: 30px;
  }
  &__item {
    margin-right: 30px;
    width: 100%;
    // margin-right: 30px;
    margin-bottom: 30px;
    @media screen and (min-width: 768px) {
      flex-basis: calc((100% - 60px) / 2);
      margin-bottom: 30px;
      margin-right: 30px;
    }
    @media screen and (min-width: 1200px) {
      flex-basis: calc((100% - 120px) / 4);
    }
  }

  &__description {
    background: $primary-white-color;
    padding-top: 30px;
    padding-bottom: 30px;
    text-align: center;
  }
  &__name {
    color: $title-text-color;
  }
  &__text {
    padding-top: 10px;
  }
}

.card-social-list {
  width: 100%;
  padding-left: 10px;
  margin: 0 auto;
  margin-top: 16px;
  background-color: $primary-white-color;
  display: flex;
  align-content: center;
  justify-content: center;
  border-radius: 50%;

  &__item {
    display: flex;
    align-content: center;
    justify-items: center;
    background: $primary-white-color;
  }

  &__icon {
    fill: #afb1b8;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link {
    width: 44px;
    height: 44px;
    padding-top: 12px;
    border-radius: 50%;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
  }

  &__link:hover,
  &__link:focus {
    background-color: $accent-color;
  }

  &__link:hover &__icon,
  &__link:focus &__icon {
    fill: $primary-white-color;
  }
}
