.logo {
  font-family: Raleway, cursive;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.1;
  text-decoration: none;
  width: 145px;
  height: 31px;
}
.logo-web {
  color: $accent-color;
}

.logo-color-white {
  color: $primary-white-color;
}
.logo-color-black {
  color: $title-text-color;
}
